@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  background-color: #29292f;
  padding: 2rem 3rem;
}
.layout {
  height: 100vh;
  display: grid;
  column-gap: 3rem;
  grid-template-columns: 300px 1fr;
  grid-template-areas:
    "sidepane content"
    "sidepane content";
}

.sidepane {
  background-color: #17171a;
  border: 1px solid #565664;
  grid-area: sidepane;
}

.content {
  grid-area: content;
  background-color: #1d1d21;
  border-radius: 5px;
  box-shadow: gray;
}
.material-color {
  border-radius: 100%;
  width: 10px;
  height: 10px;
}
